
.stat-card {
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    color: var(--text-secondary);
    mat-card-title {
        font-size: medium;
    }
    margin-bottom: 20px;
}
.stat-value {
    font-weight: bold;
}

mat-chip {
    width: 100px;
}

mat-chip.approved {
  background-color: #4caf50;
}
mat-chip.approved .mdc-evolution-chip__text-label {
  color: white;
}

mat-chip.pending {
  background-color: #ff9800;
}
mat-chip.pending .mdc-evolution-chip__text-label {
  color: white;
}

mat-chip.rejected {
  background-color: #f44336;
}
mat-chip.rejected .mdc-evolution-chip__text-label {
  color: white;
}

:host ::ng-deep mat-chip.approved .mdc-evolution-chip__text-label {
  color: white;
}
:host ::ng-deep mat-chip.rejected .mdc-evolution-chip__text-label {
  color: white;
}
:host ::ng-deep mat-chip.pending .mdc-evolution-chip__text-label {
  color: var(--text-primary);
}