<section>
    <!-- sidebar -->
    <aside class="sidebar">
        <h5 class="fw-bold mb-4">Leave Management</h5>
        <div class="d-flex flex-column w-100">
            <p class="">Dashboard</p>
            <p class="">Leave</p>
            <p class="">Calender</p>
        </div>
    </aside>
    <aside class="w-100">
        <div class="header mb-2">
            <h5 class="fw-bold">Dashboard</h5>
            <div>
                <app-nav-actions />
            </div>
        </div>
        <div class="content">
            <router-outlet />
        </div>
    </aside>
</section>