<section>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" />
        <small
          [ngClass]="
            'error-message' +
            (loginForm.get('email')?.invalid && loginForm.get('email')?.touched
              ? ' visible'
              : ' invisible')
          "
          >Please enter a valid email.</small
        >
        <!-- @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small class="error-message">Please enter a valid email.</small>
        } -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
        <small
          [ngClass]="
            'error-message' +
            (loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
              ? ' visible'
              : ' invisible')
          "
          >Minimum required length is 6 characters.</small
        >
        <!-- @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small class="error-message">Minimum required length is 6 characters.</small>
        } -->
      </div>
      <div class="form-group">
        <app-button
          type="submit"
          [disabled]="loginForm.invalid"
          [btnClass]="loginForm.invalid ? 'btn-disabled' : 'btn-secondary'"
        >
          Login
        </app-button>
      </div>
    </form>
  </div>
</section>
