section {
  width: 100%;
  height: 100vh;
  background: url("../../assets/login-bg.jpg") no-repeat center center;
  background-size: cover;
}

section .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

form {
  padding: 15px;
  width: 400px;
  min-height: 300px;
  background-color: #6f9ab418;
  border: 1px solid #b4c9da57;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(10px);
}

.container .form-group {
  color: var(--text-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container .form-group input {
  color: var(--text-secondary);
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid var(--bg-secondary);
  background: transparent;
}

.form-group input:focus {
  outline: none;
  border-bottom: 1px solid var(--text-primary);
}
